
@{
    ViewData["Title"] = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Widget {
        width: 100px;
        height: 100px;
    }
</style>
<div class="hero-area">
    <!-- 轮播图片 -->

    <div class="blog-wrapper section-padding-100 clearfix">
        <!--一片文章详细介绍-->>
        <div class="container">
            <div class="row align-items-end">
                <!--文章介绍 -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-area clearfix mb-100">

                        <div class="single-blog-content">
                            <div class="line"></div>
                            <a href="#" class="post-tag">Your&nbsp;Web</a>
                            <h4><a href="#" class="post-headline">Welcome to this Excellent Web</a></h4>

                            <p>
                                <span style="display:block;">高手处理事情的8个方法！</span>
                                <span style="display:block;">
                                    1、沉默
                                    有时候，你被人误解，你不想争辩，所以选择沉默。本来就不需要所有的人都会了解你，因此你也没必要对全世界解释。做真实的自己就好。
                                </span>
                                <span style="display:block;">
                                    2、平静
                                    在你跌入人生谷底的时候，你身边所有的人都告诉你：要坚强，而且要快乐。坚强是绝对需要的，但是快乐？在这种情形下，恐怕是太为难你了。毕竟谁能在跌得头破血流的时候还要做到高兴？但你至少可以做到平静。平静地看待这件事，平静地处理该处理的事情就行。
                                </span>
                            </p>

                            <a href="#" class="btn original-btn">阅读更多...</a>
                        </div>
                    </div>
                </div>
                <!--推荐的文章入口-->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100">
                        <img src="/img/blog-img/1.jpg" alt="">

                        <div class="catagory-title">
                            <a href="#">推荐的&nbsp;文章</a>
                        </div>
                    </div>
                </div>
                <!-- 最新的文章入口 -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100">
                        <img src="/img/blog-img/2.jpg" alt="">
                        <div class="catagory-title">
                            <a href="#">最新的&nbsp;文章</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- #####   下拉滑动左侧出来的文章信息 -->
                <div class="col-12 col-lg-9">
                    <!-- 文章一  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="/img/blog-img/3.jpg" alt="">
                                    <div class="post-date">
                                        @*时间*@
                                        <a href="#">12 <span>march</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    @*类型*@
                                    <a href="#" class="post-tag">Lifestyle</a>
                                    @*标题*@
                                    <h4><a href="#" class="post-headline">Party people in the house</a></h4>
                                    <p>文章的介绍或者文章的前面一段文字或者精彩的片段</p>
                                    <div class="post-meta">
                                        @*作者*@
                                        <p>By <a href="#">james smith</a></p>
                                        @*评论数*@
                                        <p>3 comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 文章二  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="/img/blog-img/4.jpg" alt="">
                                    <div class="post-date">
                                        <a href="#">12 <span>march</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">Lifestyle</a>
                                    <h4><a href="#" class="post-headline">We love colors in 2018</a></h4>
                                    <p>文章的介绍或者文章的前面一段文字或者精彩的片段</p>
                                    <div class="post-meta">
                                        <p>By <a href="#">james smith</a></p>
                                        <p>3 comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 文章三  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1000ms">
                        <div class="row">
                            <div class="col-12">
                                <div class="single-blog-thumbnail">
                                    <img src="/img/blog-img/7.jpg" alt="">
                                    <div class="post-date">
                                        <a href="#">10 <span>march</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-blog-content mt-50">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">Lifestyle</a>
                                    <h4><a href="#" class="post-headline">10 Tips to organize the perfect party</a></h4>
                                    <p>文章的介绍或者文章的前面一段文字或者精彩的片段</p>
                                    <div class="post-meta">
                                        <p>By <a href="#">james smith</a></p>
                                        <p>3 comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--文章四 -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="/img/blog-img/5.jpg" alt="">
                                    <div class="post-date">
                                        <a href="#">12 <span>march</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">Lifestyle</a>
                                    <h4><a href="#" class="post-headline">Party people in the house</a></h4>
                                    <p>文章的介绍或者文章的前面一段文字或者精彩的片段</p>
                                    <div class="post-meta">
                                        <p>By <a href="#">james smith</a></p>
                                        <p>3 comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 文章五 -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="/img/blog-img/6.jpg" alt="">
                                    <div class="post-date">
                                        <a href="#">12 <span>march</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">Lifestyle</a>
                                    <h4><a href="#" class="post-headline">We love colors in 2018</a></h4>
                                    <p>文章的介绍或者文章的前面一段文字或者精彩的片段</p>
                                    <div class="post-meta">
                                        <p>By <a href="#">james smith</a></p>
                                        <p>3 comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Load More -->
                    <div class="load-more-btn mt-100 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1000ms">
                        <a href="#" class="btn original-btn">发现更多...</a>
                    </div>
                </div>
                <!-- ##### 右边侧边栏 ##### -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="post-sidebar-area">
                        <!-- 右侧搜索 -->
                        <div class="sidebar-widget-area">
                            <form action="#" class="search-form">
                                <input type="search" name="search" id="searchForm" placeholder="Search">
                                <input type="submit" value="submit">
                            </form>
                        </div>
                        <!-- 登录或者注册，已登录的话就显示一些自己的信息 -->
                        <div class="sidebar-widget-area">
                            @if (Model.Name == null)
                            {
                                <div>
                                    <h5 class="title subscribe-title">登录&nbsp;/&nbsp;注册</h5>
                                    <div class="widget-content">
                                        <form class="layui-form newsletterForm" method="post">
                                            <input type="text" name="Name" id="subscribesForm" placeholder="Your UserName or Phone">
                                            <input type="password" name="Password" id="subscribesPW" placeholder="Your PassWord">
                                            <button type="submit" id="btn1" lay-submit lay-filter="LAY-user-login-submit" class="btn original-btn">登录</button>
                                        </form>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- 广告或者通知 -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">通知&nbsp;or &nbsp;广告</h5>
                        </div>
                        <!--右边日推荐 -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">日推荐</h5>
                            <div class="widget-content">
                                <!-- 文章一 -->
                                <div class="single-blog-post d-flex align-items-center widget-post">
                                    <!-- 图片 -->
                                    <div class="post-thumbnail">
                                        <img class="Widget" src="~/背景/Paris, France (3).jpg" alt="" />
                                    </div>
                                    <!-- 内容 -->
                                    <div class="post-content">
                                        <a href="#" class="post-tag">类型一</a>
                                        <h4><a href="#" class="post-headline">这是一个文章介绍1</a></h4>
                                        <div class="post-meta">
                                            <p><a href="#">12 March</a></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- 文章二 -->
                                <div class="single-blog-post d-flex align-items-center widget-post">
                                    <!-- 图片 -->
                                    <div class="post-thumbnail">
                                        <img class="Widget" src="~/背景/Poland, Europe.jpg" alt="" />
                                    </div>
                                    <!-- 内容 -->
                                    <div class="post-content">
                                        <a href="#" class="post-tag">类型二</a>
                                        <h4><a href="#" class="post-headline">这是一个文章介绍2</a></h4>
                                        <div class="post-meta">
                                            <p><a href="#">12 March</a></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- 文章三 -->
                                <div class="single-blog-post d-flex align-items-center widget-post">
                                    <!-- 图片 -->
                                    <div class="post-thumbnail">
                                        <img class="Widget" src="~/背景/Rome, Italy.jpg" alt="" />
                                    </div>
                                    <!-- 内容 -->
                                    <div class="post-content">
                                        <a href="#" class="post-tag">类型三</a>
                                        <h4><a href="#" class="post-headline">这是一个文章介绍3</a></h4>
                                        <div class="post-meta">
                                            <p><a href="#">12 March</a></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- 文章四 -->
                                <div class="single-blog-post d-flex align-items-center widget-post">
                                    <!-- 图片 -->
                                    <div class="post-thumbnail">
                                        <img class="Widget" src="~/背景/St. Johann in Ranui.jpg" alt="" />
                                    </div>
                                    <!-- 内容 -->
                                    <div class="post-content">
                                        <a href="#" class="post-tag">类型四</a>
                                        <h4><a href="#" class="post-headline">这是一个文章介绍4</a></h4>
                                        <div class="post-meta">
                                            <p><a href="#">12 March</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 标签 -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Tags</h5>
                            <div class="widget-content">
                                <ul class="tags">
                                    <li><a href="#">design</a></li>
                                    <li><a href="#">fashion</a></li>
                                    <li><a href="#">travel</a></li>
                                    <li><a href="#">music</a></li>
                                    <li><a href="#">party</a></li>
                                    <li><a href="#">video</a></li>
                                    <li><a href="#">photography</a></li>
                                    <li><a href="#">adventure</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    //$(function () {
    //    toastr.options = {
    //        "closeButton": false,
    //        "debug": false,
    //        "newestOnTop": true,
    //        "progressBar": true,
    //        "positionClass": "toast-top-center",
    //        "preventDuplicates": false,
    //        "onclick": function () {
    //            toastr.info("点击首页弹窗");
    //        },
    //        "showDuration": "300",
    //        "hideDuration": "1000",
    //        "timeOut": "5000",
    //        "extendedTimeOut": "1000",
    //        "showEasing": "swing",
    //        "hideEasing": "linear",
    //        "showMethod": "fadeIn",
    //        "hideMethod": "fadeOut"
    //    }
    //})
    //$("#btn1").click(function () {
    //    var Name = $("#subscribesForm").val();
    //    var Password = $("#subscribesPW").val();
    //    $.post("/Login/LoginAct", { Name: Name, Password: Password }, function (data) {
    //        if (data.code == 1) {
    //             layer.msg("登录成功!", { icon: data.code });
    //                    setTimeout(function () {
    //                        window.location.href = data.url;
    //                    }, 1500); 

    //        }
    //        else {
    //            layer.msg("账号或密码错误!", { icon: data.code });
    //                    setTimeout(function () {
    //                        window.location.href = data.url;
    //                    }, 1500); 

    //        }
    //    });
    //})
    layui.use('form', function () {
        var form = layui.form;
        //提交
        form.on('submit(LAY-user-login-submit)', function (data) {
            var Name = $("#subscribesForm").val();
            var Password = $("#subscribesPW").val();
            $.ajax({
                type: "post",
                dataType: "json",
                url: "../Login/LoginAct",
                data: { Name: Name, Password: Password },
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, { icon: data.code });
                        setTimeout(function () {
                            window.location.href = data.url;
                        }, 1500);
                    }
                    else {
                        layer.msg(data.msg, { icon: data.code }); 
                    }
                }
            });
            return false;
        });
    });
</script>


