@{
    ViewData["Title"] = "图片列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .toolbar {
        border: 1px solid #ccc;
    }

    #editor {
        border: 1px solid #ccc;
        height: 700px;
    }
</style>

<div class="row">
    <div class="col-12 col-sm-2">

    </div>
    <div class="col-12 col-sm-8">
        <article>
            <header>
                <h2>article-form</h2>

            </header>
             
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" id="files" name="files" placeholder="file" multiple>file-multiple属性可以选择多项<br><br>
                    <input type="button" id="btn_fileUpload" value="fileUpload">

                </form>
           
        </article>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-2">

    </div>
    <div class="col-12 col-sm-8">
        <div id="div1" class="toolbar ">
        </div>
        <div style="padding: 5px 0; color: #ccc"></div>
        <div id="editor" class="text ">

            <p>请输入内容</p>
        </div>
        <div style="padding: 5px 0; color: #ccc"></div>
        <div class="container">

            <button type="submit" style="margin-left:40%" class="btn original-btn">提交</button>

        </div>
        <div style="padding: 5px 0; color: #ccc"></div>
    </div>
</div>
<button id="btn1">获取html</button>
@*  <button id="btn2">获取text</button>*@

<script src="~/Editor/wangEditor.min.js"></script>
@*https://www.kancloud.cn/wangfupeng/wangeditor3/448203    文档*@
<script type="text/javascript">
    var E = window.wangEditor
    //var editor = new E('#editor')
    var editor = new E('#div1', '#editor')
    editor.customConfig.onchange = function (html) {
        // html 即变化之后的内容、用户改变内容后会变化
        console.log(html)
    }
    editor.customConfig.zIndex = 0

    // 下面两个配置，使用其中一个即可显示“上传图片”的tab。但是两者不要同时使用！！！
    //editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
    // editor.customConfig.uploadImgServer = 'http://192.168.20.130:7777/api/Pictures';  // 上传图片到服务器
    editor.customConfig.customUploadImg = function (files, insert) {
        // files 是 input 中选中的文件列表
        // insert 是获取图片 url 后，插入到编辑器的方法
        var data = new FormData(); var imgss = new Array();
        for (var i = 0; i < files.length; i++) {
            data.append(files[i].name, files[i]);

        }

        $.ajax({
            type: "POST",
            url: "http://www.smallworldzs.cn:8081/" + 'api/Pictures',
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                console.log(JSON.stringify(data));
                imgss = data["data"];

                for (var i = 0; i < imgss.length; i++) {
                    // 上传代码返回结果之后，将图片插入到编辑器中
                    insert("http://www.smallworldzs.cn:8081/" + imgss[i])
                }

            },
            error: function () {
                toastr.error("上传失败!")
                console.log(JSON.stringify(data));
            }
        });


    }

    editor.customConfig.emotions = [
        {
            // tab 的标题
            title: '默认',
            // type -> 'emoji' / 'image'
            type: 'image',
            // content -> 数组
            content: [
                {
                    alt: '[坏笑]',
                    src: 'http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/50/pcmoren_huaixiao_org.png'
                },
                {
                    alt: '[舔屏]',
                    src: 'http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/40/pcmoren_tian_org.png'
                }
            ]
        },
        {
            // tab 的标题
            title: 'emoji',
            // type -> 'emoji' / 'image'
            type: 'emoji',
            // content -> 数组
            content: ['😀', '😃', '😄', '😁', '😆']
        }
    ]
    editor.create()
    editor.txt.html('<p>用 JS 设置的内容</p>')//用js设置初始内容



    document.getElementById('btn1').addEventListener('click', function () {
        //读取 html
        alert(editor.txt.html())
    }, false)


    //editor.$textElem.attr('contenteditable', false)禁用编辑器
</script>
<script>
    $(document).ready(function () {
        var appDomain = "http://123.207.8.91:8081/";// var appDomain = "http://localhost:5000/";//
        $("#btn_fileUpload").click(function () {
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append("111"+files[i].name, files[i]); 
            } 
            $.ajax({
                type: "POST",
                url: appDomain + 'api/Pictures',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    console.log(JSON.stringify(data));

                },
                error: function () {
                    console.log(JSON.stringify(data));

                }
            });

        });
        //end click



    })

</script>
